body {
	margin: 0;
	padding: 10px;
	height: 100%;
	background-image: linear-gradient(to right, #1B4C6D, #062F4D);
	color: #C2C2C4;
}

.login-form {
	text-align: center;
	border: 2px solid #C2C2C4;
	border-radius: 20px;
	width: 20%;
	padding: 20px;
	margin-top: 10%;
}

.login-form input {
	height: 40px;
	padding: 0;
	border: none;
	margin-bottom: 12px;
	background-image: linear-gradient(to right, #1B4C6D, #062F4D);
	border-radius: 20px;
	border: 2px solid #C2C2C4;
	width: 80%;
	transition: width 1s;
	color: #C2C2C4;
	font-size: 20px;
}

.login-form input:hover {
	width: 100%;
}

.login-form h3 {
	margin: 0;
}

.login-form button {
	width: 60%;
	margin-top: 12px;
	border: 2px solid #C2C2C4;
	border-radius: 20px;
	height: 40px;
	/* background-color: #062F4D; */
	background-image: linear-gradient(to right, #1B4C6D, #062F4D);
	color: #C2C2C4;
	font-size: 24px;
}

.login-form button:hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #838997, #838997);
}

.form-container {
	display: flex;
	justify-content: center;
	font-size: 24px;
}

.other-accounts {
	width: 30%;
	display: inline-flex;
	justify-content: space-between;
}

.other-accounts i {
	margin-left: 10px;
	text-align: center;
	border: none;
	color: #C2C2C4;
	text-decoration: none;
}
