:root {
--dark: #1b4c6d;
--blue: #062f4d;
--silver1: #c2c2c4;
--silver2: #a3a5ae;
--silver3: #838997;
}

.contact-us {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-us .content {
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-us .content h2{
    font-size: 36px;
    font-weight: bold;
    color: var(--silver1);
}

.contact-us .content p{
    font-weight: bold;
    color: var(--silver1);
    font-size: large;
}

.container-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container-contact .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-contact .contact-info .box {
    position: relative;
    display: flex;
    padding: 20px 0;
}

.icon {
    width: 60px;
    height: 60px;
    background: var(--silver3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #efeff5e5;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
}

.box .text h3 {
    color: #efeff5e5;
}

.contact-form {
    width: 40%;
    padding: 40px;
    background: var(--blue);
}

.contact-form h2{
    font-size: 30px;
    color: var(--silver1);
    font-weight: 400;
    margin-bottom: 20px;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input, .contact-form .input-box textarea {
    width: 100%;
    margin-bottom: 12px;
    background-image: linear-gradient(to right, #1b4c6d, #062f4d);
    border-radius: 4px;
    border: 2px solid #c2c2c4;
    color: #c2c2c4;
    height: 40px;
}

.contact-form .input-box textarea {
    height: 80px;
}

.contact-form .input-box input::placeholder, .contact-form .input-box textarea::placeholder {
    margin-left: 10px;
    padding-left: 10px;
    color: var(--silver1);
}


.contact-form .input-box #submit:hover {
    background-image: linear-gradient(to right, #838997, #838997)
}

/* responsive */

@media (max-width: 995px) {
    .contact-us {
        padding: 50px;
    }
    .container-contact {
        flex-direction: column;
    }
    .container-contact .contact-info, 
    .container-contact .contact-form {
        width: 100%;
    }
}