main {
  margin-bottom: 5%;
}


body {
  background-color: #d9d6d8;
}


label {
  font-size: 2.6vw;
  text-align: center;
}


.rooms {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #d9d6d8;
  border-radius: 4px;
  width: 60%;
  margin-top: 25%;
}


.image {
  display: flex;
  justify-content: center;
  max-width: 100%;
}


.image label {
  position: absolute;
  display: flex;
  justify-content: center;
  color: #d9d6d8;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.living-room-image label {
  margin-top: 15%;
}


.bedroom-image label {
  margin-top: 8%;
}

.kitchen-image label {
  margin-top: 8%;
}


.main-menu-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}


.rooms-padding {
  padding: 10px;
}


.side-rooms {
  width: 50%;
}


.living-room-image {
  width: 100%;
}


.bedroom-image img {
  width: 100%;
  padding: 0 0 10px 10px;
}


.kitchen-image img {
  width: 100%;
  padding: 0 0 0 10px;
}


.living-room-image img {
  width: 100%;
}
