#canvas {
	width: 100%;
}

#container {
	display: inline-block;
	justify-content: center;
	align-items: center;
	/* border: 2px solid green; */
	padding: 10px;
	padding-top: 0px;
	width: 60%;
}

#scene-container {
	/* border: 2px solid red; */
	height: 500px;
	width: 100%;
	margin-bottom: 40px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: relative;
	cursor: pointer;
}

#item-list {
	width: 98%;
	height: auto;
	/* border: 2px solid red; */
	padding: 10px;
	background-color: #062f4d;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

#list {
	display: flex;
	column-gap: 5px;
	row-gap: 5px;
	justify-content: flex-start;
	flex-wrap: wrap;
	/* border: 2px solid red; */
}

#texture-list {
	width: 20%;
	float: left;
	margin-right: 20px;
	height: 80%;
	/* border: 2px solid red; */
	padding: 10px;
	padding-top: 2px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#texture-list .header {
	margin-bottom: 7px;
}

#textures-container {
	width: 100%;
	padding: 0 2px 2px 2px;
	/* border: 2px solid red; */
	background-color: #062f4d;
	padding-top: 12px;
	border-radius: 4px;
	min-height: 1035px;
}

#search-container {
	height: 50px;
	/* border: 2px solid red; */
	padding: 8px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	direction: ltr;
	justify-content: flex-end;
}

#page-number {
	/* border: 2px solid red; */
	text-align: center;
	font-size: 23px;
	color: white;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	column-gap: 5px;
}

#page-number button {
	color: white;
	text-decoration: none;
	margin-bottom: 12px;
	border: none;
	background-color: transparent;
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.7);
}

#page-number button.active {
	background-color: rgba(255, 255, 255, 0.4);
}

#search-form {
	border: 2px solid #c2c2c4;
	/* border-radius: 4px; */
	background-color: #062f4d;
	color: #ffffff;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#search-form span {
	float: right;
	font-size: 17px;
	border: none;
	height: 100%;
	cursor: pointer;
	background-color: #062f4d;
	color: #fff;
}

#search-form input {
	height: 96%;
	width: 80%;
	border: none;
	background-color: #062f4d;
	color: #fff;
}

#search-form input:focus {
	border: none;
	box-shadow: none;
	outline: none;
}

#loading {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

#loading-icon {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	display: inline-block;
}

.item-buttons > *,
.texture-buttons > * {
	color: white;
	font-size: 20px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	background-color: #062f4d;
	box-sizing: border-box;
	border-radius: 1px;
	transition: all 0.1s;
}

.item-buttons > *:hover,
.texture-buttons > *:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	box-shadow: rgba(255, 255, 255, 0.4) 0px 5px 15px;
}

.item-buttons,
.texture-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 5px;
	padding: 5px 0;
	padding-right: 5px;
}
.texture-buttons {
	justify-content: center;
	padding: 5px;
}
.texture-image {
	width: 100%;
	height: 200px;
	background-color: red;
	margin-bottom: 4px;
}

.item-image {
	width: 100%;
	height: 240px;
	background-color: transparent;
	margin-bottom: 4px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.item-card,
.texture-card {
	border-radius: 4px;
	padding: 4px;
}

.item-card {
	border: 2px solid #c2c2c4;
	flex-basis: 32.5%;
	box-sizing: border-box;
}

.texture-card {
	margin-bottom: 15px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.header {
	font-size: 40px;
	text-align: center;
	/* border: 2px solid red; */
	margin-bottom: 10px;
	margin-top: 20px;
	width: 100%;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
}

.card-info {
	padding: 10px;
}

.card-info > * {
	margin: 0;
	width: 100%;
	color: white;
}

.card-info h5 {
	font-size: calc(1vw + 1vh + 5px);
	height: calc(2vw + 2vh + 40px);
}

/* Ads */
body {
	position: relative;
}

@keyframes toggleLight {
	from {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	to {
		box-shadow: rgba(255, 255, 255, 1) 0px 5px 15px;
	}
}

#ads-box {
	position: fixed;
	right: 20px;
	top: 8%;
	width: 140px;
	height: 500px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	box-sizing: border-box;
	border-radius: 6px;
	animation-name: toggleLight;
	animation-timing-function: linear;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	overflow: hidden;
	padding: 5px;
	transition: all 0.1s;
}
#ads-text {
	position: absolute;
	color: #0d9cbf;
	font-weight: bold;
	font-size: 50px;
	top: 100%;
	text-align: center;
}

/* Info box */
#info-box {
	width: 100%;
	background-color: white;
	padding: 10px;
	margin-bottom: 40px;
}

.product-info-wrapper {
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.product-info-wrapper span {
	font-size: 20px;
	font-weight: normal;
}

#product-color {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: red;
	border: 1px solid black;
	box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
	#ads-box {
		display: none;
	}

	#container {
		width: 100%;
	}

	#textures-container {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		min-height: 60px;
		padding-left: 5px;
		padding-right: 5px;
	}

	#texture-list {
		width: 100%;
	}

	#search-form {
		width: 100%;
	}

	#search-container {
		padding: 0;
	}

	#list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		grid-column-gap: 0;
		column-gap: 5px;
		row-gap: 5px;
	}

	#search-form button {
		width: 50px;
	}

	.texture-image {
		width: 50px;
		height: 50px;
	}

	.texture-card {
		scroll-snap-align: start;
		margin-right: 5px;
	}

	.header {
		margin-top: 10px;
	}

	.item-card {
		min-width: 49%;
	}

	.item-image {
		height: 200px;
	}

	.texture-buttons > * {
		font-size: 12px;
	}

	.item-buttons > * {
		font-size: 20px;
	}
}
