:root {
	--dark: #1b4c6d;
	--blue: #062f4d;
	--silver1: #c2c2c4;
	--silver2: #a3a5ae;
	--silver3: #838997;
}
main {
	text-decoration: none;
}

main h3 {
	font-weight: bold;
	text-align: center;
}

.form-container {
	display: flex;
	justify-content: center;
	margin: 20px 10px;
}

.form-container .form-signup {
	display: flex;
	flex-direction: column;
	border: 2px solid #c2c2c4;
	border-radius: 20px;
	border-image: linear-gradient(
		45deg,
		var(--blue),
		var(--dark),
		var(--silver1, var(--silver2), var(--silver3))
	);
	border-image-slice: 1;
	width: 420px;
	height: 310px;
	padding: 20px 15px;
	margin-top: 70px;
}

.user {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	max-width: 500px;
	gap: 15px;
}

.email-1 {
	font-weight: bold;
	font-size: 20px;
}

.input {
	display: flex;
	flex-direction: column;
}

.input input {
	width: 100%;
	margin-top: 10px;
}

input {
	margin-bottom: 12px;
	background-image: linear-gradient(to right, #1b4c6d, #062f4d);
	border-radius: 4px;
	border: 2px solid #c2c2c4;
	color: #c2c2c4;
	height: 40px;
	width: 205px;
}

::placeholder {
	padding-left: 10px;
}

.submit {
	width: 80%;
	height: 40px;
	margin: 10px auto;
}

.submit:hover {
	background-image: linear-gradient(to right, #838997, #838997);
}

.form-container p {
	margin-top: 20px;
	text-align: center;
}

.form-container a {
	text-decoration: none;
	color: var(--silver3);
}

.form-container a:hover {
	color: var(--silver1);
}

@media (max-width: 510px) {
	.form-container {
		max-width: 100%;
	}
	.form-container .form-signup {
		width: 100%;
		height: 100%;
	}

	.form-container .input {
		margin-bottom: 15px;
		width: 100%;
	}
	.form-container input {
		width: 100%;
	}
}

@media (max-width: 310px) {
	.user {
		max-height: 300px;
		overflow-y: scroll;
	}
	.user::-webkit-scrollbar {
		width: 0;
	}
}
