body {
	margin: 0;
	padding: 0px;
	height: 100%;
	background-color: #1b4c6d;
	/* background-color: white; */
	color: #C2C2C4;
}


label, a {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
