body {
	margin: 0;
	padding: 0px;
	height: 100%;
	background-color: #1b4c6d;
	color: #c2c2c4;
}

.footer {
	padding: 30px 0;
	background-color: #212529;
	margin-top: 100px;
}

.footer__logo {
	text-align: center;
	color: white;
	font-size: calc(4vw + 4vh + 10px);
	text-decoration: none;
	font-weight: bold;
	display: block;
}

.contact {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	column-gap: 10px;
}

.contact__logo {
	color: white;
	transition: all 0.1s;
	cursor: pointer;
	font-size: 20px;
}

.contact__logo--facebook:hover {
	color: #4267b2;
}
.contact__logo--instagram:hover {
	color: #833ab4;
}
.contact__logo--twitter:hover {
	color: #1da1f2;
}

.footer-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-nav__link {
	text-decoration: none;
	font-size: 25px;
	color: white;
}

.footer__copyright {
	text-align: center;
	margin: 0;
	margin-top: 20px;
}
